@mixin bg-faded($amount) {
	.oh-bg-faded-#{$amount * 100}, [oh-bg-faded-#{$amount * 100}] {
		background-color : rgba(0,0,0,$amount);
	}
	.oh-bg-faded-inverse-#{$amount * 100}, [oh-bg-faded-inverse-#{$amount * 100}] {
		background-color : rgba(255,255,255,$amount);
	}
}

.oh-bg-white, [oh-bg-white] {
	background-color:#FFF;
}
.oh-bg-dark, [oh-bg-dark] {
	background-color:#333;
}
.oh-bg-black, [oh-bg-black] {
	background-color:#111;
}

@include bg-faded(1);
@include bg-faded(.9);
@include bg-faded(.8);
@include bg-faded(.7);
@include bg-faded(.6);
@include bg-faded(.5);
@include bg-faded(.4);
@include bg-faded(.3);
@include bg-faded(.2);
@include bg-faded(.1);
@include bg-faded(.15);
@include bg-faded(.05);

@mixin text-faded($amount) {
	.oh-text-faded-#{$amount * 100}, [oh-text-faded-#{$amount * 100}] {
		color : rgba(0,0,0,$amount);
	}
	.oh-text-faded-inverse-#{$amount * 100}, [oh-text-faded-inverse-#{$amount * 100}] {
		color : rgba(255,255,255,$amount);
	}
}

@include text-faded(1);
@include text-faded(.9);
@include text-faded(.8);
@include text-faded(.7);
@include text-faded(.6);
@include text-faded(.5);
@include text-faded(.4);
@include text-faded(.3);
@include text-faded(.2);
@include text-faded(.1);
@include text-faded(.15);
@include text-faded(.05);
