@mixin text-size($size) {
  .oh-text-#{$size},[oh-text-#{$size}] {
    font-size:#{$size}
  }
}

@include text-size(6px);
@include text-size(8px);
@include text-size(10px);
@include text-size(12px);
@include text-size(14px);
@include text-size(16px);
@include text-size(18px);
@include text-size(20px);
@include text-size(22px);
@include text-size(24px);
@include text-size(26px);
@include text-size(28px);
@include text-size(30px);
@include text-size(32px);

.oh-text-bold,[oh-text-bold] {
  font-weight:bold;
}

.oh-text-bolder,[oh-text-bolder] {
  font-weight:bolder;
}

.oh-text-center, [oh-text-center] {
  text-align: center;
}
