
[f-border-none] {
  border:none !important;
}
[f-border-t-none] {
  border-top:none !important;
}
[f-border-b-none] {
  border-bottom:none !important;
}
[f-border-l-none] {
  border-left:none !important;
}
[f-border-r-none] {
  border-right:none !important;
}

[f-border-r-faded] {
  border-right:solid 1px rgba($faded,0.2);
}
[f-border-t-faded] {
  border-top:solid 1px rgba($faded,0.2);
}
[f-border-l-faded] {
  border-left:solid 1px rgba($faded,0.2);
}
[f-border-b-faded] {
  border-bottom:solid 1px rgba($faded,0.2);
}
