
[f-border-none] {
  border:none !important;
}
[f-border-t-none] {
  border-top:none !important;
}
[f-border-b-none] {
  border-bottom:none !important;
}
[f-border-l-none] {
  border-left:none !important;
}
[f-border-r-none] {
  border-right:none !important;
}
