// Box Sizes
//
// A simple row based flexible toolbar
//
// Markdown:
// <div f-height-30px f-bg-faded-20 f-round>30px Tall Box</div>
//
// Style guide: components.sizes

[f-height-100] {
  height:100%;
}
[f-width-100] {
  width:100%;
}

// Percentages
@for $i from 0 to 101 {
  @if $i % 5 == 0 {
    [f-width-#{$i}] {
        width : #{$i + 0%};
    }
    [f-height-#{$i}] {
        height : #{$i + 0%};
    }
    [f-max-width-#{$i}] {
        max-width : #{$i + 0%};
    }
    [f-max-height-#{$i}] {
        max-height : #{$i + 0%};
    }
    [f-min-width-#{$i}] {
        min-width : #{$i + 0%};
    }
    [f-min-height-#{$i}] {
        min-height : #{$i + 0%};
    }
  }
}
//Pixels
@for $i from 1 to 601 {
    @if $i % 20 == 0 {
        [f-width-#{$i}px] {
            width : #{$i * 1px}
        }
        [f-height-#{$i}px] {
            height : #{$i * 1px}
        }
        [f-min-width-#{$i}px] {
            min-width : #{$i * 1px}
        }
        [f-min-height-#{$i}px] {
            min-height : #{$i * 1px}
        }
        [f-max-width-#{$i}px] {
            max-width : #{$i * 1px}
        }
        [f-max-height-#{$i}px] {
            max-height : #{$i * 1px}
        }
    }
}

[f-m-auto] {
  margin-left:auto;
  margin-right:auto;
}
[f-m-l-auto] {
  margin-left:auto;
}
[f-m-r-auto] {
  margin-right:auto;
}

@for $i from 0 to 31 {
  [f-m-#{$i}px] {
      margin : #{$i * 1px} ;
  }
  [f-m-l-#{$i}px] {
      margin-left : #{$i * 1px} ;
  }
  [f-m-r-#{$i}px] {
      margin-right : #{$i * 1px} ;
  }
  [f-m-b-#{$i}px] {
      margin-bottom : #{$i * 1px} ;
  }
  [f-m-t-#{$i}px] {
      margin-top : #{$i * 1px} ;
  }
  [f-p-#{$i}px] {
      padding : #{$i * 1px} ;
  }
  [f-p-l-#{$i}px] {
      padding-left : #{$i * 1px} ;
  }
  [f-p-r-#{$i}px] {
      padding-right : #{$i * 1px} ;
  }
  [f-p-b-#{$i}px] {
      padding-bottom : #{$i * 1px} ;
  }
  [f-p-t-#{$i}px] {
      padding-top : #{$i * 1px} ;
  }
}
