

[f-box-shadow-1] {
  @include box-shadow(1)
}
[f-box-shadow-2] {
  @include box-shadow(2)
}
[f-box-shadow-3] {
  @include box-shadow(3)
}
[f-box-shadow-4] {
  @include box-shadow(4)
}
[f-box-shadow-5] {
  @include box-shadow(5)
}

[f-round], [f-round-md] {
  border-radius:8px;
  overflow:hidden;

}
[f-round-sm] {
  border-radius:4px;
  overflow:hidden;

}
[f-round-lg] {
  border-radius:12px;
  overflow:hidden;

}
[f-round-xl] {
  border-radius:16px;
  overflow:hidden;

}

[f-border-faded] {
  border:solid 1px rgba(0,0,0,0.1);
}
[f-border-top-faded] {
  border-top:solid 1px rgba(0,0,0,0.1);
}
[f-border-top-faded] {
  border-right:solid 1px rgba(0,0,0,0.1);
}
[f-border-top-faded] {
  border-left:solid 1px rgba(0,0,0,0.1);
}
[f-border-top-faded] {
  border-bottom:solid 1px rgba(0,0,0,0.1);
}
