@import '_variables';
@import 'mixins/mixins'; //
// Box Shadows
//
// <div f-flex f-justify-center f>
//   <div f-w-200px f-h-50px f-m-b-20px f-bg-indigo-50 f-b-black f-box-shadow-1></div>
//   <div f-w-200px f-h-50px f-m-b-20px f-bg-indigo-50 f-b-black f-box-shadow-2></div>
//   <div f-w-200px f-h-50px f-m-b-20px f-bg-indigo-50 f-b-black f-box-shadow-3></div>
//   <div f-w-200px f-h-50px f-m-b-20px f-bg-indigo-50 f-b-black f-box-shadow-4></div>
//   <div f-w-200px f-h-50px f-m-b-20px f-bg-indigo-50 f-b-black f-box-shadow-5></div>
// </div>
//
//
//
//   <div  f-h-50px f-m-b-20px  f-p-10px f-bg-indigo-50 f-b-black f-box-shadow-1>
//     <h3 f-m-0px>f-box-shadow-1</h3>
//   </div>
//
//   <div  f-h-50px f-m-b-20px  f-p-10px f-bg-indigo-100 f-b-black f-box-shadow-2>
//   <h3>f-box-shadow-1<h3>
//   </div>
//
//   <div  f-h-50px f-m-b-20px  f-p-10px f-bg-indigo-200 f-b-black f-box-shadow-3>
//     <h3 f-m-0px>f-box-shadow-3</h3>
//   </div>
//
//   <div  f-h-50px f-m-b-20px  f-p-10px f-bg-indigo-300 f-b-black f-box-shadow-4>
//     <h3 f-m-0px>f-box-shadow-4</h3>
//   </div>
//
//   <div  f-h-50px f-m-b-20px  f-p-10px f-bg-indigo-400 f-b-black f-box-shadow-5>
//     <h3 f-m-0px>f-box-shadow-5</h3>
//   </div>
//
// Style guide: Shadows

[f-box-shadow-1] {
  @include box-shadow(1)
}

[f-box-shadow-2] {
  @include box-shadow(2)
}

[f-box-shadow-3] {
  @include box-shadow(3)
}

[f-box-shadow-4] {
  @include box-shadow(4)
}

[f-box-shadow-5] {
  @include box-shadow(5)
}

[f-round-md],
[f-round] {
  border-radius: 8px;
  overflow     : hidden;
}

[f-round-sm] {
  border-radius: 4px;
  overflow     : hidden;
}

[f-round-lg] {
  border-radius: 12px;
  overflow     : hidden;
}

[f-round-xl] {
  border-radius: 16px;
  overflow     : hidden;
}

[f-b-black] {
  border: solid 1px rgba(0,0,0,0.1);
}

[f-b-top-black] {
  border-top: solid 1px rgba(0,0,0,0.1);
}

[f-b-top-black] {
  border-right: solid 1px rgba(0,0,0,0.1);
}

[f-b-top-black] {
  border-left: solid 1px rgba(0,0,0,0.1);
}

[f-b-top-black] {
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
