[f-hover-fade] {
  transition: all 0.3s ease-out;

  &:hover {
    transition: all 0.3s ease-out;
    opacity   : 0.6;
  }
}

[f-hover-zoom] {
  transition: all 0.3s ease-out;

  &:hover {
    transition: all 0.3s ease-out;
    transform : scale(1.1);
  }
}
//
// Buttons
//
//
// <button f-button clear f-primary>Clear Button</button>
//
// ```
// <button f-button clear f-primary>Button</button>
// ```
//
// <button f-button>Button</button>
//
// ```
// <button f-button>Button</button>
// ```
//
// <button f-button-primary>Button</button>
//
// ```
// <button f-button-primary>Button</button>
// ```
//
// <button f-button-dark>Button</button>
//
// ```
// <button f-button-dark>Button</button>
// ```
//
// <button f-button-dark round>Round Button</button>
//
// ```
// <button f-button-dark round>Round Button</button>
// ```
//
// <button f-button-inverse f-bg-green-700 f-hover-zoom>Round Button</button>
//
// ```
// <button f-button-inverse f-bg-green-700 f-hover-zoom>Colored Button w/ Zoom</button>
// ```
//
// <button f-button-inverse f-box-shadow-1 f-text-18px f-min-height-60px f-p-14px f-p-r-30px f-p-l-30px f-bg-pink-700 f-hover-fade>Mega Button!</button>
//
// ```
// <button f-button-inverse f-box-shadow-1 f-text-18px f-min-height-60px f-p-14px f-p-r-30px f-p-l-30px f-bg-pink-700 f-hover-fade>Mega Button!</button>
// ```
//
// Style guide: Buttons
//

[f-button-primary] {
  @include f-button($primary, #FFF, 30px);
}

[f-button-dark] {
  @include f-button($dark, #FFF, 30px);
}

[f-button-inverse] {
  @include f-button(transparent, #FFF, 30px);
}

[f-button] {
  // display       : inline-block;
  // vertical-align: middle;
  // @include flexbox();
  // @include flex-direction(row);
  // @include justify-content(center);
  // @include align-items(center);
  // white-space   : nowrap;
  // color         : $dark;
  &[f-square] {
    border-radius: 0;
  }

  &[f-round] {
    border-radius: 22px !important;
  }

  &[clear] {
    border-radius   : 0;
    border          : none;
    background-color: transparent;
    border-style    : none;
    font-size       : $font-size-md;

    &.f-primary,
    &[f-primary] {
      color: $primary;
    }
    transition      : all 0.2s ease-out;

    &:hover {
      color: saturate(lighten($primary,20%),40%);
    }
  }

  &[f-icon-only] {
    font-size: $font-size-xl !important;

    i,
    icon,
    span {
      font-size: $font-size-xl !important;

      &:before {
        font-size: $font-size-xl !important;
      }
    }
  }

  i {
    margin-left : 6px;
    margin-right: 6px;
  }
  outline-style: none !important;

  &[f-sm] {
    font-size: 12px;

    i {
      font-size: 14px;

      &:before {
        font-size: 14px;
      }
    }
  }

  &[f-md] {
    font-size: 14px;

    i {
      font-size: 16px;

      &:before {
        font-size: 16px;
      }
    }
  }
}

[f-button] {
  @include f-button(#FFF, $faded, 30px);
}
