@import '_variables';
@import 'mixins/mixins'; //
//
// Flexbox
//
// Let's start flexing! Sure your friend using IE 10 and below might not like you that much
// but really... should we care what they think?
//
// Style guide: Flex

[f-flex] {}
//
// Align
//
// <ul>
//   <li><strong>f-align-start</strong> Aligns to the start of the parent element.</li>
//   <li><strong>f-align-center</strong> Aligns center the parent element.</li>
//   <li><strong>f-align-end</strong> Aligns to the end of the parent element.</li>
// </ul>
//
// <div f-align-end f-row>
//  <div f-w-30 f-h-90px f-align-center f-m-r-10px f-bg-orange-300 f-p-20px>
//    <div f-h-50px f-w-50px f-bg-white f-box-shadow-1></div>
//  </div>
//  <div f-w-30 f-h-90px f-align-start f-m-r-10px f-bg-orange-400 f-p-20px>
//    <div f-h-50px f-w-50px f-bg-white f-box-shadow-1></div>
//  </div>
//  <div f-w-30 f-h-90px f-align-end f-m-r-10px f-bg-orange-500 f-p-20px>
//    <div f-h-50px f-w-50px f-bg-white f-box-shadow-1></div>
//  </div>
// </div>
// ```
// <div f-align-end f-row f-p-30px f-h-90px f-bg-orange-400>
//  <div f-h-50px f-w-50px f-bg-white f-box-shadow-1></div>
// </div>
// ```
//
// Style guide: Flex.align

[f-align-center] {
  @include flexbox();
  @include align-items(center);
}

[f-align-start] {
  @include flexbox();
  @include align-items(flex-start);
}

[f-align-end] {
  @include flexbox();
  @include align-items(flex-end);
}

[f-wrap] {
  @include flexbox();
  @include flex-wrap(wrap);
}
//  Row & Column
//
//  Rows and columns are targeted with the ``f-row`` and ``f-column``
//
//  <h2>Flexbox Row with variable widths</h2>
//
//  <div  f-bg-blue-100 f-row f-p-30px f-wrap f-m-t-20px>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-l-10px f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
// </div>
//
// ```
//  <div  f-bg-blue-100 f-row f-p-30px f-wrap f-m-t-20px>
//   <div f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-w-max-20px f-w-min-10px f-w-30px f-grow f-shrink f-h-100px></div>
//   <div f-w-max-100 f-w-min-20px f-w-30px f-grow f-shrink f-h-100px></div>
//  </div>
// ```
//
//
//  <h2>Flexbox Column with variable widths</h2>
//
//  <div  f-bg-blue-100 f-column f-p-30px f-wrap f-m-t-20px>
//   <div f-bg-white f-box-shadow-1 f-m-b-10px f-h-max-10px f-h-min-1px f-h-30px f-grow f-shrink f-w-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-b-10px f-h-max-100 f-h-min-20px f-h-30px f-grow f-shrink f-w-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-b-10px f-h-max-10px f-h-min-1px f-h-30px f-grow f-shrink f-w-100px></div>
//   <div f-bg-white f-box-shadow-1 f-m-b-10px f-h-max-100 f-h-min-20px f-h-30px f-grow f-shrink f-w-100px></div>
// </div>
//
// ```
//  <div  f-bg-blue-100  f-column f-p-30px f-wrap f-m-t-20px>
//   <div  f-m-b-10px f-h-max-10px f-h-min-1px f-h-30px f-grow f-shrink f-w-100px></div>
//   <div  f-m-b-10px f-h-max-100 f-h-min-20px f-h-30px f-grow f-shrink f-w-100px></div>
//   <div  f-m-b-10px f-h-max-10px f-h-min-1px f-h-30px f-grow f-shrink f-w-100px></div>
//   <div  f-m-b-10px f-h-max-100 f-h-min-20px f-h-30px f-grow f-shrink f-w-100px></div>
// </div>
// ```
//
// Style guide: Flex.row-column

[f-row] {
  @include flexbox();
  @include flex-direction(row);
}

[f-column] {
  @include flexbox();
  @include flex-direction(column);
}

[f-align-end] {
  @include flexbox();
  @include align-items(flex-end);
}
//
// Justify
//
//  Use justify to stretch, spread and control the format of children elements.
//
// <ul>
//   <li><strong>f-justify-center</strong> </li>
//   <li><strong>f-justify-start</strong>.</li>
//   <li><strong>f-justify-between</strong></li>
//  <li><strong>f-justify-around</strong></li>
// </ul>
//
// ### f-justify-between
//
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-between f-m-t-20px>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
//
// ```
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-between f-m-t-20px>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
// ```
//
// ### f-justify-around
//
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-around f-m-t-20px>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
//
// ```
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-around f-m-t-20px>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
// ```
//
// ### f-justify-stretch
//
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-stretch f-m-t-20px>
//  <div  f-h-30px f-w-min-20 f-w-max-100  f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-min-20 f-w-max-100  f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-min-20 f-w-max-100  f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
//
// ```
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-stretch f-m-t-20px>
//  <div  f-h-30px f-w-min-20 f-w-max-100  f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-min-20 f-w-max-100  f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-min-20 f-w-max-100  f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
// ```
//
// ### f-justify-center
//
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-center f-m-t-20px>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
//
// ```
// <div f-align-end f-row f-bg-orange-50 f-p-20px f-justify-center f-m-t-20px>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-300 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-400 f-p-20px></div>
//  <div  f-h-30px f-w-20px f-m-r-10px f-bg-orange-500 f-p-20px></div>
// </div>
// ```
//
//
//
// Style guide: Flex.justify

[f-justify-center] {
  @include flexbox();
  @include justify-content(center);
}

[f-rubber] {
  width     : 100%;
  height    : 100%;
  @include flex-grow(1);
  @include flex-shrink(1);
  min-width : 1px;
  min-height: 1px;
  max-height: 100%;
  max-width : 100%;
}

[f-stiff] {
  @include flex-grow(0);
  @include flex-shrink(0);
}

[f-justify-around] {
  @include flexbox();
  @include justify-content(space-around);
}

[f-justify-stretch] {
  @include flexbox();
  @include justify-content(stretch);
}

[f-justify-between] {
  @include flexbox();
  @include justify-content(space-between);
}

[f-justify-end] {
  @include flexbox();
  @include justify-content(flex-end);
}

[f-flex] {
  @include flexbox();
}

[f-column],
[f-flex-column] {
  @include flexbox();
  @include flex-direction(column);
}

[f-flex-row],
[f-row] {
  @include flexbox();
  @include flex-direction(row);
}

[f-grow] {
  @include flex-grow(1);
}

[f-grow-off] {
  @include flex-grow(0);
}

[f-shrink-off] {
  @include flex-shrink(0);
}

[f-shrink] {
  @include flex-shrink(1);
}
// Flex Only CSS
//
// Only want the flex features of Oh-flex?
// ````
// <link href="https://unpkg.com/oh-flex/lib/chunks/_flex.css" rel="stylesheet" />
// ```
//
//
// Style guide: Flex.xtra
