@import '_variables';
@import 'mixins/mixins'; //
// List Item
//
// A simple to use List item
//
// <div f-round f-bg-white f-box-shadow-2 f-contain f-m-b-10px>
// <article f-item>
//   <div f-avatar>
//      <img src="http://i.pravatar.cc/400?img=64" />
//   </div>
//   <div f-item-content f-rubber>
//     <div f-title>Item Title</div>
//     <p f-note>This is some other content</p>
//   </div>
//    <p f-note f-item-right>More</p>
// </article>
// <article f-item>
//   <div f-avatar>
//      <img src="http://i.pravatar.cc/400?img=64" />
//   </div>
//   <div f-item-content f-rubber>
//     <div f-title>Item Title</div>
//     <p f-note>This is some other content</p>
//   </div>
//   <p f-note f-item-right>Right</p>
// </article>
// </div>
//
// ```
// <article f-item>
//   <div f-avatar>
//      <img src="http://i.pravatar.cc/400?img=64" />
//   </div>
//   <div f-item-content f-rubber>
//     <div f-title>Item Title</div>
//     <p f-note>This is some other content</p>
//   </div>
//    <p f-note f-item-right>More</p>
// </article>
// ```
//
// Style guide: List.Item]

[f-item-grid] {
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(around);

  [f-item] {
    @include flex-grow(1);
    @include flex-shrink(1);
    width        : 20%;
    min-width    : 200px;
    max-width    : 450px;
    height       : 120px;
    border-radius: 6px;
    margin       : 10px;
    border       : solid 1px rgba(0,0,0,0.1);
    @include box-shadow(2);
    transition   : all 0.2s ease-out;

    &:hover {
      transition: all 0.2s ease-out;
      @include box-shadow(1);
      border    : solid 1px rgba(0,0,0,0.05);
    }
  }
}

p[f-note] {
  margin: 2px 0;
}

[f-note] {
  margin   : 2px 0;
  padding  : 0;
  font-size: $font-size;
  color    : $faded;

  &.darken,
  &[darken] {
    color: darken($faded,20%);
  }
}

[f-item] {
  box-sizing: border-box;
  @include f-item();

  [f-rubber] {
    @include truncate(1);
  }

  [f-content],
  [f-title] {
    @include flex-grow(1);
    @include flex-shrink(0);
  }

  [f-title] {
    line-height: $font-size-md + 4px;
    font-size  : $font-size-md;
    @include truncate(1);
  }

  [f-item-left] {
    margin-right: 8px;
    margin-left : -8px;
  }

  [f-item-right] {
    margin-left: 8px;
    text-align : right;
  }

  [item-right] {
    padding-left: 6px;
  }

  [item-left] {
    padding-right: 6px;
  }
}

[f-item] {
  cursor: pointer !important;

  * {
    cursor: pointer !important;
  }

  [f-buttons-left] {
    margin-left: -10px;
  }

  [f-buttons-right] {
    margin-right: -10px;
  }

  &[inverse] {
    [f-item-content][input-content] {
      label {
        color: #EEE;
      }

      .vue-input-tag-wrapper {
        background: rgba(255,255,255,0.1);
        border    : none;
        padding   : 2px 10px;

        input {
          background: transparent !important;
          border    : none;
        }
      }

      input[type=email],
      input[type=number],
      input[type=password],
      input[type=text] {
        background: rgba(255,255,255,0.1);
        color     : #FFF;
      }

      textarea {
        background: rgba(255,255,255,0.1);
        color     : #FFF;
      }
    }
  }

  [f-item-content][input-content] {
    .vue-input-tag-wrapper {
      input[type=text] {
        height: 24px;
        border: none;
      }
    }

    input[type=email],
    input[type=number],
    input[type=password],
    input[type=text] {
      height       : 36px;
      padding      : 5px 6px;
      font-size    : 16px;
      border       : solid 1px rgba(0,0,0,0.4);
      border-radius: 2px;
      margin-top   : 4px;
      margin-bottom: 4px;
    }

    $checkbox-width: 18px;

    input[type=checkbox] {
      background-color  : rgba(0,0,0,0.1);
      border            : solid 1px rgba(0,0,0,0.1);
      -webkit-appearance: none;
      display           : inline-block;
      vertical-align    : middle;
      height            : 16px;
      width             : 16px;
      border-radius     : 4px;
      text-align        : center;
      outline           : none;

      &:checked {
        border          : solid 1px rgba(0,0,0,0.2);
        background-color: $primary;

        &:after {
          content: '✓';
          color  : #FFF;
        }
      }
    }

    textarea {
      padding      : 5px 6px;
      font-size    : 16px;
      border       : solid 1px rgba(0,0,0,0.4);
      border-radius: 2px;
      margin-top   : 4px;
      margin-bottom: 4px;
    }
  }
}

[f-num-input] {
  border      : solid 1px #EEE !important;
  text-align  : center;
  border-style: none;
  box-shadow  : 0 4px 8px rgba(0,0,0,0.1);
  width       : 60px;
  outline     : none;

  &:focus {
    color     : $primary;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  }
}

[f-item-divider] {
  @include f-item();
  min-height      : 16px;
  padding-top     : 4px;
  padding-bottom  : 4px;
  background-color: rgba(0,0,0,0.1);
  color           : $faded;
  line-height     : 30px;

  &.clear,
  &[clear] {
    background-color: transparent;
  }
}
