// List Item
//
// A simple to use List item
//
// <div f-round f-bg-white f-box-shadow-2 f-contain f-m-b-10px>
// <article f-item>
//   <div f-avatar>
//      <img src="http://i.pravatar.cc/400?img=64" />
//   </div>
//   <div f-item-content f-rubber>
//     <div f-title>Item Title</div>
//     <p f-note>This is some other content</p>
//   </div>
//    <p f-note f-item-right>More</p>
// </article>
// <article f-item>
//   <div f-avatar>
//      <img src="http://i.pravatar.cc/400?img=64" />
//   </div>
//   <div f-item-content f-rubber>
//     <div f-title>Item Title</div>
//     <p f-note>This is some other content</p>
//   </div>
//   <p f-note f-item-right>Right</p>
// </article>
// </div>
//
// ```
// <article f-item>
//   <div f-avatar>
//      <img src="http://i.pravatar.cc/400?img=64" />
//   </div>
//   <div f-item-content f-rubber>
//     <div f-title>Item Title</div>
//     <p f-note>This is some other content</p>
//   </div>
//    <p f-note f-item-right>More</p>
// </article>
// ```
//
// Style guide: List.Item
$icon-default: 14px;
$icon-sm: 12px;
$icon-md: 24px;
$icon-lg: 32px;
$icon-xl: 38px; // Icon Control
//
// Oh Flex doesn't contain an icon pack. Instead, you should use one of the million amazing that already exist.
// However, universally controlling the various icon pack font sizes is a gamble. Here I try to make a
// general icon size controller.
//
// ### f-icon-sm
//
// ### f-icon-md
//
// ### f-icon-lg
//
//
// Style guide: Typography.Icons

[f-icon] {
  font-size: $icon-default;

  &:before {
    font-size: $icon-default;
  }

  &:after {
    font-size: $icon-default;
  }
}

[f-no-lines],[no-lines] {
  border-bottom:none;
  border-top:none;
}

[f-icon-sm],
[f-icon][sm] {
  font-size: $icon-sm;

  &:before {
    font-size: $icon-sm;
  }

  &:after {
    font-size: $icon-sm;
  }
}

[f-icon-md],
[f-icon][md] {
  font-size: $icon-md;

  &:before {
    font-size: $icon-md;
  }

  &:after {
    font-size: $icon-md;
  }
}

[f-icon-lg],
[f-icon][lg] {
  font-size: $icon-lg;

  &:before {
    font-size: $icon-lg;
  }

  &:after {
    font-size: $icon-lg;
  }
}

[f-icon-xl],
[f-icon][xl] {
  font-size: $icon-xl;

  &:before {
    font-size: $icon-xl;
  }

  &:after {
    font-size: $icon-xl;
  }
}

[f-note] {
  margin: 2px 0;
  padding: 0;
  font-size: $font-size;
  color: $faded;

  &.darken,
  &[darken] {
    color: darken($faded,20%);
  }
}

[f-item] {
  box-sizing: border-box;
  @include f-item();

  [f-rubber] {
    @extend .truncate;
  }

  [f-content],
  [f-title] {
    @include flex-grow(1);
    @include flex-shrink(0);
  }

  [f-title] {
    line-height: $font-size-md + 4px;
    font-size: $font-size-md;
    @extend .truncate;
  }

  [f-item-left] {
    margin-right: 8px;
    margin-left: -8px;
  }

  [f-item-right] {
    margin-left: 8px;
    text-align: right;
  }



  [item-right] {
    padding-left: 6px;
  }

  [item-left] {
    padding-right: 6px;
  }
}

[f-item-divider] {
  @include f-item();
  min-height: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: rgba(0,0,0,0.1);
  color: $faded;
  line-height: 30px;
  &.clear,
  &[clear] {
    background-color: transparent;

  }
}
