// Layout
//
// Structure pages with headers, footers, asides and more.
//
// Header and footer will always be at their respective locations (top and bottom)
// f-content will be rubbery and flex with the allowed space. It also is responsible
// for handling scrolling of the main content.
//
// <h2>Standard Header Content Footer</h2>
// <div style="position:relative;" f-round f-bg-green-200 f-w-90 f-h-200px>
//   <div f-layout>
//     <header f-header f-bg-green-400>Header</header>
//     <main f-content f-bg-green-100>Content</main>
//     <footer f-footer f-bg-green-500>Footer</footer>
//   </div>
// </div>
//
// ```
//   <div f-layout>
//     <header f-header>Header</header>
//     <main f-content>Content</main>
//     <footer f-footer>Footer</footer>
//   </div>
// ```
// <h2>Multi Menu Layout</h2>
// <div style="position:relative;" f-round f-bg-blue-300 f-w-90 f-h-200px>
//   <div f-layout f-layout-aside>
//     <aside f-w-10 f-justify-center f-align-center f-bg-blue-100>1</aside>
//     <aside f-w-20 f-justify-center f-align-center f-bg-blue-300>Menu 2</aside>
//     <main>
//       <header f-header f-t-white f-bg-blue-600 f-justify-center f-align-center >Header</header>
//       <main f-content f-bg-blue-400 f-justify-center f-align-center >Content</main>
//       <footer f-footer f-t-white f-bg-blue-600 f-justify-center f-align-center >Footer</footer>
//     </main>
//   </div>
// </div>
//
// ```
// <div f-layout f-layout-aside>
//   <aside>Menu 1</aside>
//   <aside>Menu 2</aside>
//   <main>
//     <header f-header>Header</header>
//     <main f-content>Content</main>
//     <footer f-footer>Footer</footer>
//   </main>
// </div>
// ```
//
//
// Style guide: Layout

 [f-layout] {
  font-family:$font-family;
  font-size:$font-size-base;
  min-width:100%;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow: hidden;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(stretch);
  @include align-items(center);

  [f-layout] {
    position:absolute;
  }

  [f-header] {
    width:100%;
    @include flex-shrink(0);
    @include flex-grow(0);
    border-bottom:solid 1px rgba(0,0,0,0.18);
    &.no-border,&[no-border] {
      border:none !important;
      box-shadow: none !important;
    }
  }
  [f-footer] {
    width:100%;
    @include flex-shrink(0);
    @include flex-grow(0);
    border-top:solid 1px rgba(0,0,0,0.18);
    &.no-border,&[no-border] {
      box-shadow: none !important;
    }
  }
  [f-content] {
    width:100%;
    height:100%;
    box-sizing: border-box;
    @include flex-shrink(1);
    @include flex-grow(1);
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }

  &[f-layout-aside] {
    @include flexbox()
    @include flex-direction(row);
    @include justify-content(stretch);
    @include align-items(flex-start);

   aside {
     @include flexbox();
     @include flex-direction(column);
     @include flex-grow(1);
     @include flex-shrink(0);
      height:100%;
     position:relative;
     border-right:solid 1px rgba(0,0,0,0.18);
     z-index:1;

   }
   main {
    position:relative;
    height:100%;
    width:100%;
    @include flexbox();
    @include flex-direction(column);
    @include flex-shrink(1);
    @include flex-grow(1);

   }
 } // end-master-menu-left

}

[f-contain] {
  max-width:$contain-max-width;
  margin-right:auto;
  margin-left:auto;
}

[f-contain-700px] {
  max-width:700px;
  margin-right:auto;
  margin-left:auto;
}

[f-contain-800px] {
  max-width:800px;
  margin-right:auto;
  margin-left:auto;
}
[f-contain-900px] {
  max-width:900px;
  margin-right:auto;
  margin-left:auto;
}

[f-contain-1024px] {
  max-width:1024px;
  margin-right:auto;
  margin-left:auto;
}
[f-contain-1080px] {
  max-width:1080px;
  margin-right:auto;
  margin-left:auto;
}
[f-contain-1180px] {
  max-width:1180px;
  margin-right:auto;
  margin-left:auto;
}

.f-aside-open {
  transition:all 0.2s ease-out;
  &:after {
    transition:all 0.2s ease-out;
    left:-40px;
    color:rgba(0,0,0,0);
  }
  max-width:80% !important;
  width:80% !important;
  min-width:80% !important;
  padding-left:1px;
  * {
    opacity: 1;
  }
}

@media only screen and (max-width : 640px ) {
  [f-hide-md] {
    display:none !important;
  }
  [f-show-md] {
    display:inherit;
  }
  [f-hide-md-down] {
    display:none !important;
    [f-hide-sm ]{
      display:none !important;
    }
  }
  [f-show-md-down] {
    display:inherit;
    [f-hide-sm] {
      display:inherit;
    }
  }



  [f-layout-aside] {

      main[f-collapse-phone] {
        overflow-y:scroll;
        min-width:90%;
        @include flex-shrink(0);
      }

      aside[f-collapse-phone] {

        &[f-aside-open] {
          transition:all 0.2s ease-out;
          &:after {
            transition:all 0.2s ease-out;
            left:-40px;
            color:rgba(0,0,0,0);
          }
          max-width:80%;
          width:80%;
          min-width:80%;
          padding-left:1px;
          * {
            opacity: 1;
          }
        }
        @include flex-shrink(0);
        overflow: hidden;
        // box-shadow:inset -6px 0px 10px rgba(0,0,0,0.1);
        max-width:1px;
        width:1px;
        min-width:1px;
        transition:all 0.2s ease-out;

        &[f-collpase-auto] {

          padding-left:30px;
          * {
            opacity: 0;
            transition:all 0.2s ease-out;
          }
          &:after {
            transition:all 0.2s ease-out;
            content: "•••";
            position:absolute;
            opacity: 1;
            left:6px;
            color:rgba(0,0,0,0.4);
            top:0;
            bottom:0;
            transform: rotate(90deg);
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
          }

          &:hover {
            @extends .f-aside-open;
          }
        } // end f-collpase-auto
      } // end aside



  } // f-layout-aside
}
