/* Desktops and laptops ----------- */
@media only screen and (max-width : 1824px) {

}

/* iPads (landscape) ----------- */
@media only screen and (max-width : 1224px)   {

}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px  ) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 768px) {
  [f-show-md] {
    display:none !important;
  }
  [f-show-md-down] {
    display:none;
    [f-hide-sm] {
      display:none;
    }
  }
}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 640px ) {
  [f-hide-md] {
    display:none !important;
  }
  [f-show-md] {
    display:inherit;
  }
  [f-hide-md-down] {
    display:none !important;
    [f-hide-sm ]{
      display:none !important;
    }
  }
  [f-show-md-down] {
    display:inherit;
    [f-hide-sm] {
      display:inherit;
    }
  }
  [f-layout-aside][f-collapse-phone] {
    main {
      overflow:hidden;
      min-width:90%;
    }
    aside {
      box-shadow:inset -6px 0px 10px rgba(0,0,0,0.1);
      max-width:20px;
      width:20px;
      min-width:20px;
      overflow: hidden;
      * {
        opacity: 0;
      }
      transition:all 0.5s ease-out;
      &:hover,&:focus {
        max-width:80%;
        width:80%;
        min-width:80%;
        * {
          opacity: 1;
        }
      }
    }
  }
}

/* Smartphones (portrait) (ie: Galaxy 1) */
@media only screen and (max-width :   321px) {
  [f-hide-md] {
    display:none !important;
  }
  [f-show-md] {
    display:inherit;
  }
}
