//
// Media Queries
//
// Since we're embracing flex, let's embrace the idea that there that are 3 main states for modern web views.
//
// By default any tag with a f-show- or f-hide- are hidden by default, then the media query is applied.
//
// **Phone, Tablet, Desktop** - everything else can fall close enough to one of these.
//
// <div f-p-20px f-bg-red-200 f-t-white f-show-phone>
//  f-show-phone
// </div>
//
// <div f-p-20px f-bg-orange-200 f-t-white  f-show-tablet>
//  f-show-tablet
// </div>
//
// <div f-p-20px f-bg-purple-200 f-t-white  f-show-desktop>
//   f-show-desktop
// </div>
//
//
//
// Style guide: Show / Hide
//

[f-hide-desktop],
[f-hide-phone],
[f-hide-tablet],
[f-show-desktop],
[f-show-phone],
[f-show-tablet] {
  display: none;
}
@include phone() {
  [f-hide-phone] {
    display: none !important;
  }

  [f-show-phone] {
    display: inherit;
  }

  [f-hide-tablet-down] {
    display: none !important;
  }

  [f-hide-desktop-down] {
    display: none !important;
  }
}
// end phone
@include tablet() {
  [f-hide-tablet] {
    display: none !important;
  }

  [f-hide-tablet-down] {
    display: none !important;
  }

  [f-hide-tablet-up] {
    display: none !important;
  }

  [f-show-tablet] {
    display: inherit;
  }

  [f-hide-desktop-down] {
    display: none !important;
  }

  [f-hide-phone] {
    display: inherit;
  }
}
// end tablet
@include desktop() {
  [f-hide-desktop] {
    display: none !important;
  }

  [f-hide-phone] {
    display: inherit;
  }

  [f-hide-tablet] {
    display: inherit;
  }

  [f-hide-tablet-up] {
    display: none !important;
  }

  [f-hide-desktop-down] {
    display: none !important;
  }

  [f-show-desktop] {
    display: inherit;
  }
}

.url2html-youtube,
[f-video-responsive] {
  @include phone() {
    margin: 6px 0;
    width : 100%;
    height: 250px;
  }
  @include tablet() {
    margin: 6px 0;
    width : 100%;
    height: 320px;
  }
  @include desktop() {
    margin: 6px 0;
    width : 100%;
    height: 320px;
  }
}
